@inherits LayoutComponentBase

<MudThemeProvider IsDarkMode="true"/>
<MudDialogProvider/>
<MudSnackbarProvider/>

<MudLayout>
    <MudAppBar Elevation="1">
        <MudImage Src="images\gunter.png" Width="60" Height="60"></MudImage>
        <MudText Typo="Typo.h5" Class="ml-3">Gunter's Lair</MudText>
        <MudText Typo="Typo.h4" Class="ml-3"> | </MudText>
        <MudText Typo="Typo.subtitle1" Class="ml-3">There's Something in the Air!</MudText>
        <MudSpacer />
        <MudIconButton Icon="@Icons.Material.Filled.MoreVert" Color="Color.Inherit" Edge="Edge.End" />
    </MudAppBar>
    <MudMainContent>
        @Body
    </MudMainContent>
    <MudContainer MaxWidth="MaxWidth.ExtraExtraLarge">
        <MudContainer Class="sticky" MaxWidth="MaxWidth.ExtraExtraLarge">
            <MudPaper Class="pa-3" >
                <a target="_blank" href="https://icons8.com/icon/uJP6M6Qi3A6T/gunter">Gunter</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>
            </MudPaper>
        </MudContainer>
    </MudContainer>
</MudLayout>

@code {

}